page-statistics {
  #chart-header {
    background: #CBF7ED;
  }

  #money-header {
      background: #67597A;
      color: white;
  }

  #renew-header {
      background: #AF9164;
      color: white;
  }
}
