// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:  #F44336,
  light:    #FAFAFA,
  stable:   #F5F5F5,
  positive: #3F51B5,
  calm:     #2196F3,
  balanced: #4CAF50,
  energized:#FFC107,
  assertive:#F44336,
  royal:    #673AB7,
  dark:     #212121,

  color1: #B8D8D8,
  color2: #7A9E9F,
  color3: #4F6367,
  color4: #EEF5DB,
  color5: #FE5F55,
  color6: #749899,

  lblue: #F3DE8A,
  elblue: #ECFEE8


);

#mainarea {
  background: #B8D8D8;
}

#card {
  background: #7A9E9F;
}

#small-font{
  font-size: 0.9em;
}




/**
* Bars
*/
$bar-android-height: 56px; // @TODO assign only to android
$bar-subheader-height: 48px;
$expanded-bar-height: ($bar-android-height + 72px);

/**
* Typography
*/

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$performance_font: 'Helvetica', 'Arial', sans-serif !default;
$roboto-font-path: '../fonts/roboto' !default;
$material-icon-font-path: '../fonts/material-icons' !default;
