page-projectpage {

    #project-detail > ion-item {
        font-size:13px;
    }

    #padder {
        padding:3px;
    }

    #description_header{
        background: #B3C0A4;
    }

    #card-header {
        background: #F3DE8A;
    }

    #host-header {
        background: #6E8894;
        color: white;
    }

    #money-header {
        background: #67597A;
        color: white;        
    }

    #renew-header {
        background: #AF9164;
        color: white;
    }

    #todo-header {
        background: #FF8A5B;
        color: white;
    }

    #email-header {
        background: #25CED1;        
    }
}
